<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Lava Material - Web Application and Website Multipurpose Admin Panel Template</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>

<body>

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2" layout:fragment="content">
        <div class="row">

            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Ui Form</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>All Hotel</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                    <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
                                    <ul id="dr-users" class="dropdown-content">
                                        <li><a href="#!">Add New</a>
                                        </li>
                                        <li><a href="#!">Edit</a>
                                        </li>
                                        <li><a href="#!">Update</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#!"><i class="material-icons">delete</i>Delete</a>
                                        </li>
                                        <li><a href="#!"><i class="material-icons">subject</i>View All</a>
                                        </li>
                                    </ul>

                                    <!-- Dropdown Structure -->

                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Hotel</th>
                                                    <th>Percentage</th>
                                                    <th>City</th>
                                                    <th>InActive</th>
                                                    <th>View</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="hotels:${hotelList}">
                                                    <td><span class="list-img" th:each="hotelFile, itrStat:${hotelFileList}" th:if="${hotelFile}!=null and (${hotelFile.hotel.id} == ${hotels.id})">
                                                        <img th:src="@{'/hotelImage/'+${hotelFile.modifiedfileName}}" alt=""/>
                                                    </span>
                                                    </td>
                                                    <td><a th:href="@{/admin/hotel/profile/{id}(id=${hotels.id})}"><span class="list-enq-name" th:text="${hotels.hotelName}"></span><span class="list-enq-city"></span></a>
                                                    </td>
                                                    <td>
                                                        <span th:if="${hotels.hotelPercentage}!=null" th:text="${hotels.hotelPercentage.percentage}"></span>
                                                        <span th:unless="${hotels.hotelPercentage}!=null">0%</span>
                                                    </td>
                                                    <td>
                                                        <p th:each="hotelAddress:${hotelAddresses}" th:if="(${hotelAddress.hotel.id} == ${hotels.id})" th:text="${hotelAddress.city}"></p>
                                                    </td>
                                                    <td>
                                                        <a href="hotel-edit.html"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="hotel-edit.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{'/admin/delete-hotel/'+${hotels.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>