<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/main_layout}">

<head>
    <title>Lava Material - Web Application and Website Multipurpose Admin Panel Template</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>

            <div class="sb2-2" layout:fragment="content">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Ui Form</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Add New User</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                </div>
                                <div class="tab-inn">
                                    <div th:if="${done}">successful</div>
                                    <form id="merchant-advanced-form" th:object="${hotel}" th:action="@{/admin/add-merchant}" method="post">
                                        <h3>Hotel Details</h3>
                                        <fieldset>
                                            <div class="steps-form">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="hotelName" type="text" class="validate" name="hotelName">
                                                        <label for="hotelName">Hotel name</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="description" type="text" class="validate" name="description">
                                                        <label for="description">Hotel Description</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <input id="amenities" type="text" class="validate" name="amenities" >
                                                        <label for="amenities">Hotel amenities</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <label for="hotelCategory" class="position-relative">Select Category</label>
                                                        <select required id="hotelCategory" name="hotelCategories">
                                                            <option th:each="hotelAllCategory:${hotelCategories}"
                                                                    th:value="${hotelAllCategory.hotelCategoryId}"
                                                                    th:text="${hotelAllCategory.hotelCategoryName}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <div class="file-field input-field">
                                                            <label for="hotelImages" class="position-relative">Upload Image</label>

                                                            <div class="file-path-wrapper">
                                            <span class="flie-input-message">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span class="large">Click here to upload.</span>
                                                <span>The maximum file size for uploads is <strong>999 KB</strong></span>
                                                <span>Only image files (<strong>JPG, GIF, PNG</strong>) are allowed</span>
                                            </span>
                                                                <input type="file" id="hotelImages" name="files" multiple="multiple" required/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <h3>Registration Details</h3>
                                        <fieldset>
                                            <div class="steps-form">
                                                <div th:each="item, itemStat : *{users}">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="username" type="text" class="validate" name="username" th:field="*{users[__${itemStat.index}__].username}"/>
                                                            <label for="username">UserName</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="password" type="text" class="validate" name="password" th:field="*{users[__${itemStat.index}__].password}"/>
                                                            <label for="password">Password</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="firstName" type="text" class="validate" name="firstName" th:field="*{users[__${itemStat.index}__].firstName}"/>
                                                            <label for="firstName">First Name</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="lastName" type="text" class="validate" name="lastName" th:field="*{users[__${itemStat.index}__].lastName}"/>
                                                            <label for="lastName">Last Name</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="email" type="email" class="validate" name="email" th:field="*{users[__${itemStat.index}__].email}"/>
                                                            <label for="email">Email</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="mobile" type="text" class="validate" name="mobile" th:field="*{users[__${itemStat.index}__].mobile}"/>
                                                            <label for="mobile">Mobile</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="UserCity" type="text" class="validate" name="city" th:field="*{users[__${itemStat.index}__].city}"/>
                                                            <label for="city">City</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="UserCountry" type="text" class="validate" name="country" th:field="*{users[__${itemStat.index}__].country}"/>
                                                            <label for="country">Country</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <h3>Contact Info</h3>
                                        <fieldset>
                                            <div class="steps-form">
                                                <div th:each="item, itemStat : *{hotelContacts}">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="phoneNumber" type="text" required name="phoneNumber" th:field="*{hotelContacts[__${itemStat.index}__].phoneNumber}" class="validate">
                                                            <label for="phoneNumber">Hotel's Phone Number</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="hotelEmail" type="email" required name="hotelEmail" th:field="*{hotelContacts[__${itemStat.index}__].hotelEmail}" class="validate required email">
                                                            <label for="hotelEmail">Hotel's Email</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <h3>Social Links</h3>
                                        <fieldset>
                                            <div class="steps-form">
                                                <div th:each="item, itemStat : *{hotelLinks}">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="facebookLink" type="url" name="facebookLink" th:field="*{hotelLinks[__${itemStat.index}__].facebookLink}" class="validate">
                                                            <label for="facebookLink">Facebook Url</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="twitterLink" type="url" name="twitterLink" th:field="*{hotelLinks[__${itemStat.index}__].twitterLink}" class="validate">
                                                            <label for="twitterLink">Twitter Url</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="LinkedinLink" type="url" name= "LinkedinLink" th:field="*{hotelLinks[__${itemStat.index}__].LinkedinLink}" class="validate">
                                                            <label for="LinkedinLink">Linkedin Url</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="instagramLink" type="url" name="instagramLink" th:field="*{hotelLinks[__${itemStat.index}__].instagramLink}" class="validate">
                                                            <label for="instagramLink">Instagram Url</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="whatsAppNumber" type="text" name="whatsAppNumber" th:field="*{hotelLinks[__${itemStat.index}__].whatsAppNumber}" class="validate">
                                                            <label for="whatsAppNumber">WhatsApp Number</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>


                                        <h3>Hotel Address</h3>
                                        <fieldset>
                                            <div class="steps-form">
                                                <div th:each="item, itemStat : *{hotelAddresses}">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="streeAddress" type="text" required name="streeAddress"th:field="*{hotelAddresses[__${itemStat.index}__].streeAddress}" class="validate"/>
                                                            <label for="streeAddress">Road Number</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="block" name="block" th:field="*{hotelAddresses[__${itemStat.index}__].block}" type="text" class="validate">
                                                            <label for="block">Block</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="city" type="text" name="city" th:field="*{hotelAddresses[__${itemStat.index}__].city}" required class="validate">
                                                            <label for="city">City</label>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <input id="country" name="country" th:field="*{hotelAddresses[__${itemStat.index}__].country}" required type="text" class="validate"/>
                                                            <label for="country">Country</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <button class="btn btn-primary" value="submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--</div>-->
    <!--</div>-->
    <!--== BOTTOM FLOAT ICON ==-->
    <!--<section>-->
        <!--<div class="fixed-action-btn vertical">-->
            <!--<a class="btn-floating btn-large red pulse">-->
                <!--<i class="large material-icons">mode_edit</i>-->
            <!--</a>-->
            <!--<ul>-->
                <!--<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>-->
                <!--</li>-->
                <!--<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>-->
                <!--</li>-->
                <!--<li><a class="btn-floating green"><i class="material-icons">publish</i></a>-->
                <!--</li>-->
                <!--<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</section>-->

    <!--======== SCRIPT FILES =========-->
    <!--<script src="js/jquery.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/materialize.min.js"></script>-->
    <!--<script src="js/custom.js"></script>-->
</body>

</html>