<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/fragments/main_layout}">

<head>
    <title>The Travel - Tour Travel</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>

<body>
    <div layout:fragment="content">
    <section>
		
		<!-- TOP SEARCH BOX -->
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
						<form class="tourz-search-form">
							<div class="input-field">
								<input type="text" id="select-city" class="autocomplete">
								<label for="select-city">Enter city</label>
							</div>
							<div class="input-field">
								<input type="text" id="select-search" class="autocomplete">
								<label for="select-search" class="search-hotel-type">Search over a million tour and travels, sight seeings, hotels and more</label>
							</div>
							<div class="input-field">
								<input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
						</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- END TOP SEARCH BOX -->
    </section>
    <!--END HEADER SECTION-->
	
		<section>
			<form>
				<div class="input-field col s12">
					<select name="nameInit" id="c-title" required>
						<option value="" disabled selected>Title</option>
						<option value="1">Mr.</option>
						<option value="2">Mrs.</option>
						<option value="3">Ms.</option>
					</select>
				</div>
				<div class="col-md-4">
					<div class="input-field col s12">
						<input type="text"  class="validate" name="firstName" id="c-firstname" required />
						<label>First Name</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-field col s12">
						<input type="text"  class="validate" name="lastName" id="c-lastname" required />
						<label>Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-field col s12">
							<input type="email"  class="validate" name="email" id="c-email" required>
							<label>Email</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="input-field col s12">
							<select name="numberInit" id="c-country-code" required>
								<option value="" disabled selected>Country Code</option>
								<option value="+880">Bangladesh(+880)</option>
								<option value="+91">India(+91)</option>
								<option value="+93">Afganistan(+93)</option>
							</select>
						</div>
					</div>
					<div class="col-md-8">
						<div class="input-field col s12">
							<input type="text"  class="validate" name="number" id="c-phone" required>
							<label>Phone/Mobile Number</label>
						</div>
					</div>
				</div>

				<div th:each="item, stat : *{guests}">
					<div class="col-md-2">
						<div class="input-field col s12">
							<select th:field="*{guests[__${stat.index}__].nameInit}" id="g-title-0">
								<option value="" disabled selected>Title</option>
								<option value="Mr.">Mr.</option>
								<option value="Mrs.">Mrs.</option>
								<option value="Ms.">Ms.</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-field col s12">
							<input type="text"  class="validate" name="name"  th:field="*{guests[__${stat.index}__].name}" id="g-fullname-0" required>
							<label>Full Name</label>
						</div>
					</div>
					<div class="col-md-1">
						<div class="input-field col s12">
							<input type="text"  class="validate" th:field="*{guests[__${stat.index}__].age}" id="g-age-0" required>
							<label>Age</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-field col s12">
							<div class="custom-radio">
								<input type="radio" id="m-gender-0" th:field="*{guests[__${stat.index}__].gender}" value="Male" checked>
								<label for="m-gender-0">Male</label>
							</div>
							<div class="custom-radio">
								<input type="radio" id="f-gender-0" th:field="*{guests[__${stat.index}__].gender}" Value="Female">
								<label for="f-gender-0">Female</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button type="button" class="waves-effect waves-light tourz-sear-btn v2-ser-btn confirm-btn-2">Confirm</button>
					</div>
				</div>
			</form>
		</section>

    </div>

</body>

</html>