<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/fragments/main_layout}">

<head>
    <title>The Travel - Tour Travel</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>

<body>
<div layout:fragment="content">
    
    <!--DASHBOARD-->
    <section>
        <div class="tr-register mc-register-confirm">
            <div class="tr-regi-form mc-regi-form-confirm">
                <h2>Merchant Registration Confirmation</h2>
                <p>You have successfully registered. Please check your mail.</p>
                <a href="#" class="waves-effect waves-button-input mt-20">Check Your Email</a>
            </div>
        </div>
    </section>
    <!--END DASHBOARD-->
    
</div>
</body>

</html>