<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{merchant_web/fragments/main_layout}">

<head>
    <title>Lava Material - Web Application and Website Multipurpose Admin Panel Template</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>

            <div class="sb2-2" layout:fragment="content">
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Ui Form</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Add New User</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                </div>
                                <div class="tab-inn">
                                    <div th:if="${done}">successful</div>
                                    <form action="#" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <select multiple id="hotelCategory" name="hotelCategoryName">
                                                    <option value="" disabled selected>Choose Category</option>
                                                    <option th:each="category:${hotelCategories}"
                                                            th:value="${category.hotelCategoryId}"
                                                            th:text="${category.hotelCategoryName}"></option>
                                                </select>
                                                <label for="hotelCategory">Select Category</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="firstName" type="text" class="validate" name="firstName" required="required"/>
                                                <label for="firstName">First Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="lastName" type="text" class="validate" required="required" name="lastName"/>
                                                <label for="lastName">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="mobile" type="number" class="validate" name="mobile" required="required"/>
                                                <label for="mobile">Mobile</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="city" type="text" class="validate" required="required" name="city"/>
                                                <label for="city">City</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="country" type="text" class="validate" name="country" required="required"/>
                                                <label for="country">Country</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="username" type="text" class="validate" name="username" required="required"/>
                                                <label for="username">User Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="password" type="password" class="validate" required="required" name="password"/>
                                                <label for="password">Password</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="confirmPassword" type="password" class="validate" name="confirmPassword" required="required"/>
                                                <label for="confirmPassword">Confirm Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email" class="validate" required="required" name="email"/>
                                                <label for="email">Email</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="hotelName" type="text" class="validate" required="required" name="hotel.hotelName"/>
                                                <label for="hotelName">Hotel Name</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="hotelDescription" type="text" class="validate" required="required" name="hotel.description"/>
                                                <label for="hotelDescription">Hotel Description</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="hotelAmenities" type="text" class="validate" required="required" name="hotel.amenities"/>
                                                <label for="hotelAmenities">Hotel Amenities</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="hotelFiles" type="file" class="validate" required="required" name="hotel.files" multiple/>
                                                <label for="hotelFiles">Hotel Files</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="submit" class="waves-effect waves-light btn-large">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--</div>-->
    <!--</div>-->
    <!--== BOTTOM FLOAT ICON ==-->
    <!--<section>-->
        <!--<div class="fixed-action-btn vertical">-->
            <!--<a class="btn-floating btn-large red pulse">-->
                <!--<i class="large material-icons">mode_edit</i>-->
            <!--</a>-->
            <!--<ul>-->
                <!--<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>-->
                <!--</li>-->
                <!--<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>-->
                <!--</li>-->
                <!--<li><a class="btn-floating green"><i class="material-icons">publish</i></a>-->
                <!--</li>-->
                <!--<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</section>-->

    <!--======== SCRIPT FILES =========-->
    <!--<script src="js/jquery.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/materialize.min.js"></script>-->
    <!--<script src="js/custom.js"></script>-->
</body>

</html>