<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Merchant Password Reset</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--== FAV ICON ==-->
    <link rel="shortcut icon" th:href="@{/admin_asset/images/fav.ico}"/>

    <!-- GOOGLE FONTS -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500}" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" th:href="@{/admin_asset/css/font-awesome.min.css}">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" th:href="@{/admin_asset/css/style.css}">
    <link rel="stylesheet" th:href="@{/admin_asset/css/mob.css}">
    <link rel="stylesheet" th:href="@{/admin_asset/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/admin_asset/css/materialize.css}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/admin_asset/js/html5shiv.js}"></script>
    <script th:src="@{/admin_asset/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
    <div class="blog-login">
        <div class="blog-login-in">
            <form th:action="@{/merchant/user/update-password}" method="post">
                <img th:src="@{/admin_asset/images/logo.png}" alt="" />
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword" type="password" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn btn-primary" value="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--======== SCRIPT FILES =========-->
    <script th:src="@{/admin_asset/js/jquery.min.js}"></script>
    <script th:src="@{/admin_asset/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin_asset/js/materialize.min.js}"></script>
    <script th:src="@{/admin_asset/js/custom.js}"></script>
</body>

</html>